
.word {
  
animation-name: moveWord ;
animation-duration: 8s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes moveWord {
  25% {
    transform: translateY(150px)
  }
  50% {
    transform: translate(60px, 80px)
  }
  100% {
    transform: translateY(30px , 90px)
  }
}


.tek {
 animation-name: moveTek ;
 animation-duration: 2s;
 animation-timing-function: linear;

 animation-iteration-count: infinite;
} 

@keyframes moveTek {
  50% {
    transform: translateY(8px)
  }
  100% {
    transform: translateY(0px)
  }
}



